token=
secret=
public_key=

db_address=
db_name=
db_password=
db_user=

reddit_id=
reddit_secret=
reddit_username=
reddit_password=

base_url=
webhook_server_address=

log_level=
log_webhook_token=
log_webhook_id=

dev_mode=
should_sync_db=